@import "styles/style.scss";

.footer {
  padding-top: 15px;
  height: 340px;
  background-color: $black;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 1231231;
  .footer__container {
    justify-content: space-between;
    .requsits {
      width: 250px;
    }
    .text {
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #ffffff;
    }
    .footer__col {
      display: flex;
      flex-direction: column;

      .footer__subtitle {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $teel;
        margin: 10px 0;
      }
      .footer__requsits {
        width: 220px;
      }
    }
    .catalog:not(:first-child) {
      gap: 4px;
    }
    .bouquets:not(:first-child) {
      gap: 4px;
    }
    .nav {
      gap: 20px;

      .footer__link:first-child {
        margin: 10px 0;
      }
      a {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $teel;
      }
    }
    .contacts {
      li:first-child {
        margin-top: 10px;
      }
      li:last-child {
        margin-top: 38px;
      }
      li:not(:last-child) {
        margin-bottom: 20px;
      }
      p {
        font-weight: 300;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
      .contacts__subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $teel;
        margin-bottom: 6px;
      }
    }
  }
}
